 $body-bg: rgb(40, 110, 110);
 $dropdown-bg:  rgba(63, 160, 184, 0.945);
 $dropdown-min-width: 1rem;
 $dropdown-padding-x: 1;
 $modal-content-bg: rgb(64, 139, 158);
$dropdown-header-color:rgba(83, 87, 87, 0.842);
$shadow:3px 3px 3px rgba(0, 0, 0, 0.329);
$filterText:rgba(240, 255, 255, 0.829);
$textColor:rgb(22, 22, 22);
$opacity:0.4;
$font:"Kalam", cursive;