.drinksImg{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.drinks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 8px;
}
.nameP{
   text-align: center;
   padding-top: 1%;
}
.drinksLi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 2% 4% 0 4%;
}
.drinksImg:hover{
opacity: 0.4;
}
