@import "./custom.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 7rem;
  grid-template-columns: 1fr;
  height: 100%;
}
.homeImg {
  padding: 35px 26% 5% 26%;
  margin-bottom: 18.3px;
  @include flex(flex,space-around,none,wrap)
}
.caffeeImg {
  width: 300px;
  height: 429px;
  border-radius: 8px;
}
.teaImg {
  width: 300px;
  height: 429px;
  border-radius: 8px;
}
header {
  padding-top: 1%;
  @include flex(flex,center,none,wrap);
  @include text($textColor,$font,40px)
}
footer {
  grid-area: footer;
  background-color: #0d241b;
  @include flex(flex,center,none,wrap);
  @include text(#dbc596,$font,30px)
}
.pCaffee,
.pTea {
  @include flex(flex,center,column,none)
}
.nameP{
  margin-top: 5px;
  @include flex(flex,center,none,none);
  @include text($textColor,$font,18px)
}
.pCaffee:hover,
.pTea:hover {
  opacity: $opacity;
  padding-top: 0.5px;
}
.mediaImg:hover {
  opacity: $opacity;
  padding-top: 1px;
}

.media {
  padding-top: 33px;
  @include flex(flex,center,row,none)
}
.copyRight {
  font-size: 10px;
  background-color: #091812;
  padding-top: 5px;
  margin-top: 1.7%;
  width: 100%;
  @include flex(flex,center,none,none)
}
.path{
  list-style-type: none;
  text-decoration: none;
}
.pCaffee p,.pTea p{
  @include text($textColor,$font,20px);
  margin-top: 5px;
  @include flex(flex,center,none,none)
}
