@import "./custom.scss";
@import "./mixins.scss";

.navHeader{
 padding-left: 8%;
  @include flex(flex,center,none,none);
  @include text($textColor,$font,40px)
}
.nav{
padding-top: 2%;
@include flex(flex,space-between,none,wrap)
}
.iconHome{
    margin-top: 20px; 
    border: rgb(41, 40, 40) double;
    border-radius: 50%;
    border-width: 5px;
    margin-right: 8px;
    background-color: rgb(54, 53, 53);
    @include text(rgb(154, 231, 39),none,33px)
}
.nav-line{
    @include flex(flex,space-around,none,none);
}
.iconHome:hover{
    background-color: rgba(70, 70, 70, 0.699);
    color: rgb(184, 233, 110);
}
.tooltip strong{
    @include text(none,$font,12px)
}